input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Chrome/Safari mein default date icon tabhi dikhe jab focus ho */
input[type="text"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
}
